appdirs==1.4.4
asgiref==3.4.1
black==21.6b0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
fastapi==0.65.2
filelock==3.0.12
h11==0.12.0
huggingface-hub==0.0.12
idna==2.10
joblib==1.0.1
mypy-extensions==0.4.3
nltk==3.6.2
numpy==1.21.0
packaging==20.9
pathspec==0.8.1
Pillow==8.3.0
pydantic==1.8.2
pyparsing==2.4.7
PyYAML==5.4.1
regex==2021.7.1
requests==2.25.1
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.0
sentence-transformers==2.0.0
sentencepiece==0.1.96
six==1.16.0
starlette==0.14.2
threadpoolctl==2.1.0
tokenizers==0.10.3
toml==0.10.2
torch==1.9.0
torchvision==0.10.0
tqdm==4.61.1
transformers==4.8.2
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.14.0
